
div.custom-img-diffobj-wrapper {
    padding: 9.5px;
    margin: 20px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.custom-img-diffobj-container {
    display: flex;
    font-size: 1.2em;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
}

div.custom-img-diffobj-container.top {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0 !important;
}

div.custom-img-diffobj-container.bottom {
    margin-top: 0;
    padding-top: 0;
    border-top: 0 !important;
}

div.custom-img-diffobj-display-wrapper {
    display: inline-block;
    flex: 0 0 33.3333%;
    background-color: #eeeeee;
    border-left: 1px solid #888888;
}

.custom-img-diffobj-image {
    background-color: #fff;
}

.custom-img-diffobj-image span {
}

.custom-img-diffobj-image span:nth-child(1) {
    padding: 0 0.2em;
}

.custom-img-diffobj-image span:nth-child(2) {
    font-weight: 700;
}

.custom-img-diffobj-image.custom-img-diffobj-img1 {
    background-color: #ffefef;
}

.custom-img-diffobj-image.custom-img-diffobj-img2 {
    background-color: #efffef;
}

.custom-img-diffobj-image.custom-img-diffobj-img1 span:nth-child(1) {
    background-color: #f8c2c2;
}

.custom-img-diffobj-image.custom-img-diffobj-img2 span:nth-child(1) {
    background-color: #a6f3a6;
}

.custom-img-diffobj-image.custom-img-diffobj-img3 span:nth-child(1) {
    background-color: #ddd;
}

.custom-img-diffobj-image span:nth-child(1) {
    font-weight: 700;
    margin-left: 5px;
}

.custom-img-diffobj-image-display {
    margin-left: 13px;
    background-color: #eeeeee;
    border-left: 1px solid #888888;
    height: 100%;
}

.custom-img-diffobj-image-display > img {
    width: 100%;
}

.custom-img-diffobj-image-display > div {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

.custom-img-diffobj-image-display > div > div {
    text-align: center;
}
