.custom_hidden {
    display: none !important;
}

.custom_visible {
    display: block !important;
}

.container-fluid {
    padding: 20px !important;
}

.well .tab-content {
    background-color: #fff;
    padding: 15px;
    padding: 15px 15px 5px 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-top: 0;
}

.modal-body {
    .shiny-input-container {
        width: 100%;
    }
}

.form-group-custom {
    padding-right: 50px; 
    position: relative; 
    width: 100%;
}

.form-group-custom .shinyDirectories,
.form-group-custom .shinyFiles {
    position: absolute; 
    right: 0px; 
    top: 25px;
}

#save_comments, #clear_comments {
    margin-bottom: 20px;
}

#summary_out tr td{
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

#summary_out tr.row_highlighted td {
    background-color: #ddd !important;
}

.process_button, .process_button:focus, .process_button:hover {
    background-color: #337ab7;
    color: #fff;
}

#comparison_comments_container {
    display: none;
    margin-top: 20px;
}

#download_csv {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#details_tabs {
    display: none;
    margin-top: 20px;
}

div.diffobj-container div.diffobj-line > div.ignore {
  border-left: 1px solid #888888;
}

div.diffobj-container.light.rgb span.diffobj-word.ignore {
    background-color: #ddd;
}

div.diffobj-container.light.rgb span.diffobj-word-highlight.ignore {
    background-color: #ddd;
}

div.diffobj-container.light.rgb span.diffobj-word.ignore span.diffobj-word-highlight.ignore {
    background-color: #ccc;
}

div.custom-img-diffobj-wrapper {
    padding: 9.5px;
    margin: 20px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.custom-img-diffobj-container {
    font-size: 1.2em;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
}

div.custom-img-diffobj-container.top {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0 !important;
}

div.custom-img-diffobj-container.bottom {
    margin-top: 0;
    padding-top: 0;
    border-top: 0 !important;
}

div.custom-img-diffobj-container > div {
    background-color: #eeeeee;
    border-left: 1px solid #888888;
}

.custom-img-diffobj-image {
    background-color: #fff;
}

.custom-img-diffobj-image span {


}

.custom-img-diffobj-image span:nth-child(1) {
    padding: 0 0.2em;
}

.custom-img-diffobj-image span:nth-child(2) {
    font-weight: 700;
}

.custom-img-diffobj-image.custom-img-diffobj-image-1 {
    background-color: #ffefef;
}

.custom-img-diffobj-image.custom-img-diffobj-image-2 {
    background-color: #efffef;
}

.custom-img-diffobj-image.custom-img-diffobj-image-1 span:nth-child(1) {
    background-color: #f8c2c2;
}

.custom-img-diffobj-image.custom-img-diffobj-image-2 span:nth-child(1) {
    background-color: #a6f3a6;
}

.custom-img-diffobj-image.custom-img-diffobj-image-3 span:nth-child(1) {
    background-color: #ddd;
}

.custom-img-diffobj-image span:nth-child(1) {
    font-weight: 700;
    margin-left: 5px;
}

.custom-img-diffobj-image-display {
    margin-left: 13px;
    background-color: #eeeeee;
    border-left: 1px solid #888888;
    height: 100%;
}
